﻿@model IEnumerable<_383_Phase_1.Models.InventoryItem>

@{
    ViewBag.Title = "Inventory Items - G2P1";
}

<h2>Inventory Items</h2>

<p>
@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Add New Product", "Create")
} else
{
    <br />
}
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th style="width:25%;"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {

                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) @Html.Raw("&nbsp;")
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) @Html.Raw("&nbsp;")
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" }) @Html.Raw("&nbsp;")

                }
            </td>
        </tr>
    }

</table>