﻿﻿<div class="jumbotron">
    <h1>G2P1 Game Store</h1>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12">
        <p class="lead">Welcome to our Store!</p>
        <p>Check out our extensive games list by clicking the tab at the top of the page!</p>
    </div>
</div>
