﻿
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank you!</h2>

<div class="row">
    <div class="col-md-4">
        <h2>You have successfully logged out</h2>
    </div>
</div>