﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="/SignalR/hubs"></script>
    <script src="~/Scripts/knockout-3.4.0.debug.js"></script>
    <script src="~/Scripts/InventoryUpdate.js"></script>

</head>
<body>
    <style>
        .navbar{
            background-color:#048545;
            border-bottom : 2px solid #048545;
        }
        .navbar-inverse .navbar-nav > li > a{
            color: #fff;
        }
    </style>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("G2P1 Inventory", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style="font-weight:bold;color:#fff !important;" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Games List", "Index", "InventoryItems", new { area = "" }, null)</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Users", "Index", "Users", new { area = "" }, null)</li>
                    }
                </ul>

                <ul class="nav navbar-nav pull-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                             <li class="pull-right">@Html.ActionLink("Logout", "Logout", "Account", new { area = "" }, null)</li>

                            <li class="pull-right">
                                <a>Welcome, @Html.Raw(User.Identity.Name)</a>
                            </li>
                    }
                    else
                    {
                        <li class="pull-right">@Html.ActionLink("Login", "Login", "Account", new { area = "" }, null)</li>
                    }
                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - G2P1 Inventory</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
